@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.placeholder-text {
  position: absolute;
  top: 30%;
  left: calc(50% - 250px);
  width: 500px;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 0 30px 10px;
  background-color: rgba(97,187,224,0.5);
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

h1 small {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: white;
  line-height: 5;
}

p {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

span.fa {
  font-size: 28px;
  margin: 10px 0 20px;
}

img.hm-mark {
  width: 50px;
  margin: 10px 0 20px;
}
